body {
    background-color: #111a33;
    color: #111a33;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section {
    background-color: #111a33;
    color: #D4D4D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    width: 80%;
    max-width: 800px;
}

.logo {
    width: 100%;
}

.contacts {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0px 40px;
    font-size: 100px;
    padding: 15px;
    cursor: pointer;
}

.text {
    margin-top: 40px;
    text-align: center;
}

.contacts-title {
    margin-top: 80px;
}

@media screen and (max-width: 580px) {
    body {
        background-color: #111a33;
    }

    .section {
        width: 100%;
        padding: 5px;
        margin: 0;
    }

    .contacts {
        flex-direction: column;
    }

    .icon {
        margin: 40px 0px;
    }
}
